# Dependencies
node_modules

# Playwright specific
test-results/
playwright-report/
playwright/.cache/

# Build output
dist/
build/

# TypeScript
*.tsbuildinfo

# IDE
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# OS
.DS_Store

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.*.local

# Temporary files
*.tmp
*.temp